*.swp
coverage
node_modules
browser/tests.js
docs/api

CONTRIBUTING.html
LICENSE.html
README.html
examples.html
npm-debug.log

apiref
bower_components
report
.DS_Store


vertcore.js
vertcore.min.js
vertcore.js.sig
vertcore.min.js.sig
tests.js

.vs
